.login {
  width: 100vw;
  height: 100vh;
  padding-top: 12vh;
  background: #508bfc;
}
.register {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  background: #508bfc;
}

.login__container {
  background-color: #ebebeb;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  font-weight: bold;
}

.login div {
  margin-top: 7px;
}

.login-button {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.login-button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

span {
  font-weight: bold;
}

.form-group {
  padding: 5px 0px;
}

.move {
  margin-left: -25px;
  font-weight: 700;
}

.dashboard {
  padding: 12vh 0vh;
  background: #508bfc;
}